.hide {
	display:none;
}

.show {
	display:block;
}

.wall {
	height:600px;
	width:1200px;
	margin-left:auto;
	margin-right:auto;
	position:relative;
}

.wrapper {
	width:100%;
	height:1000px;
	
	

}



.test {
	width:400px;
	height:400px;
}

#header, .side, .content, .footer-parent, .login-popup, .lang.popup, .debuginfo {
	display:none;
}

.linklisting {
	height:200px;
	width:500px;
	position:absolute;
	top:130px;
	left:40px;
	padding-left:20px;
	padding-right:10px;
	padding-top:120px;
	
	
}

.firstNav {
	width:75px;
	height:75px;
	position:absolute;
	top:500px;
	left:80px;
}

.previousNav {
	width:75px;
	height:75px;
	position:absolute;
	top:510px;
	left:260px;
}

.nextNav{
	width:75px;
	height:75px;
	position:absolute;
	top: 520px;
	left: 450px;
}

iframe {
	position:relative;
	top:55px;
	left:610px;
	border: 8pt ridge #fbcc0e;
}
	
	
	

