.hide {
	display:none;
}

.show {
	display:block;
}

.wall {
	height:600px;
	width:1200px;
	margin-left:auto;
	margin-right:auto;
	position:relative;
}

.wrapper {
	width:100%;
	height:1000px;
	
	

}



.test {
	width:400px;
	height:400px;
}

#header, .side, .content, .footer-parent, .login-popup, .lang.popup, .debuginfo {
	display:none;
}

.linklisting {
	height:200px;
	width:500px;
	position:absolute;
	top:150px;
	left:400px;
	padding-left:20px;
	padding-right:10px;
	padding-top:120px;
	
	
}

.firstNav {
	width:75px;
	height:75px;
	position:absolute;
	top:180px;
	left:120px;
}

.previousNav {
	width:75px;
	height:75px;
	position:absolute;
	top:350px;
	left:200px;
}

.nextNav{
	width:75px;
	height:75px;
	position:absolute;
	top: 200px;
	left: 1000px;
}

